@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
:root {
    --main-color-1: #EF476F;
    --main-color-2: #118AB2;
    --side-color-1: #FFD166;
    --side-color-2: #06D6A0;
    --chat-bg-color: #073B4C;
    --grey-color: #b3acad;
    --main-ff: 'Noto Sans TC', sans-serif;
}

/* Base styles */

body {
    margin: 0;
    font-family: var(--main-ff);
}

h1 {
    margin: 0 0 0.5rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #000;
}

.app-name {
    font-size: 1.55rem;
    font-weight: 700;
    color: #fff;
}

.navbar-links {
    display: flex;
}

.navbar-links li {
    margin: 0 10px;
    font-size: 1.5rem;
}

.navbar-links li:last-child {
    margin-right: 0;
}

/* Page layout styles */

.create-side, .join-side {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-container, .join-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-side, .create-container {
    background-color: var(--main-color-1);
}

.join-side, .join-container {
    background-color: var(--main-color-2);
}

#load-video-container {
    display: none;
    flex-direction: column;
}

.video-player-container {
    margin-right: 2rem;
}

.main-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    background-color: var(--chat-bg-color);
}

.chat-messages-container {
    display: flex;
    flex-direction: column;
    height: 550px;
    max-height: 550px;
    overflow: auto;
    width: 700px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.my-row, .partner-row {
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.my-row {
    justify-content: flex-end;
}

.partner-row {
    justify-content: flex-start;
}

/* Home styles */

.home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

/* Links */

.home-container a, .navbar-links li a, .app-name a {
    text-decoration: none;
    color: #fff;
}

/* Form styles */

.create-form, .join-form {
    width: 35rem;
    display: flex;
    flex-direction: column;
}

.create-form input, .join-form input, #load-video-container input {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    border-color: transparent;
}

#load-video-container input {
    padding: 0.75rem;
}

#create-username-input, #join-username-input {
    margin: 1rem 0;
}

.chat-form {
    width: 700px;
}

/* Button styles */

.btn {
    border-radius: 5px;
    font-size: 1.25rem;
    padding: 2rem 3rem;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}

.btn:hover {
    filter: brightness(0.9);
}

.create-form .btn, .join-form .btn, #load-video-container .btn, .make-host-btn {
    align-self: center;
    width: 15rem;
    padding: 1.25rem 2rem;
    color: #fff;
    border: none;
    font-family: var(--main-ff);
}

#load-video-container .btn, .make-host-btn {
    padding: 1rem 1.75rem;
    width: 12.25rem;
    background-color: var(--main-color-1);
}

.make-host-btn {
    display: block;
    margin: 10px auto 0;
}

.create-side .btn, .create-form .btn {
    background-color: var(--side-color-1);
}

.join-side .btn, .join-form .btn {
    background-color: var(--side-color-2)
}

/* Messages styles */

.my-message {
    display: flex;
    flex-direction: column;
    width: 45%;
    background-color: var(--main-color-1);
    color: #fff;
    padding: 10px;
    margin-right: 5px;
    text-align: center;
    border-radius: 5px;
}

.my-message .message-author, .partner-message .message-author {
    color: var(--chat-bg-color);
}

.partner-message {
    display: flex;
    flex-direction: column;
    width: 45%;
    color: #000;
    background-color: var(--grey-color);
    border: 1px solid var(--grey-color);
    padding: 10px;
    margin-left: 5px;
    text-align: center;
    border-radius: 5px;
}

.chat-textarea {
    width: 98%;
    height: 100px;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 17px;
    background-color: transparent;
    border: 1px solid var(--grey-color);
    outline: none;
    color: var(--grey-color);
    letter-spacing: 1px;
    line-height: 20px;
}

.chat-textarea::placeholder {
    color: var(--grey-color)
}

.chat-btn {
    background-color: var(--grey-color);
    color: #fff!important;
    font-family: var(--main-ff);
    font-weight: 700;
    width: 100%;
    border: none;
    height: 2.5rem;
    border-radius: 5px;
    color: #46516e;
    font-size: 1rem;
}

.host-name {
    color: #fff;
}

/* User list styles */

.sb-avatar:not(:last-child) {
    margin-right: 7px;
}